

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="shared-styles.html">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">



<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<dom-module id="agregar-viaje">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      app-header {
        color: #fff;
        background-color: #00AA8D;
      }
      app-toolbar {
        height: 60px;
      }
      [main-title] {
        position: absolute;
        top: -120px;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('https://image.flaticon.com/icons/svg/201/201623.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 600px;
        -webkit-transform-origin: center top !important;
        transform-origin: center top !important;
        /* The difference in font size is used to calculate the scale of the title in the transition. */
        font-size: 40px;
      }
      .content {
        display: block;
        position: relative;
        max-width: 1000px;
        margin: 5px auto;
      }
      .card-container {
        display: inline-block;
        width: 40%;
        color: black;
        text-decoration: none;
      }

  @media (max-width: 960px) {
    .content {
      max-width: 800px;
    }
    .card-container {
      width: 80%;
    }
  }
  @media (max-width: 719px) {
    app-toolbar {
      height: 60px;
    }
  }
    [main-title] {
      top: -60px;
      background-color: url('https://image.flaticon.com/icons/svg/201/201623.svg');
      background-size: 80px;
    }
    .content {
      max-width: 400px;
    }
    .card-container {
      width: 100%;
    }
    datalist{
      display: none;
    }

    </style>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>

    <iron-ajax
      id="traerPaises"
      auto url="https://restcountries.eu/rest/v2/all?fields=translations;alpha2Code;flag"
      method="GET"
      crossDomain:true
      on-response="handleApiResponse">
    </iron-ajax>

    <iron-ajax
      id="agregarDestinos"
      url="http://localhost:3002/v3/Movimientos/[[storedUser.email]]"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonP'
      method="POST"
      handle-as="json"
      headers$='{"access-token": "[[storedUser.id_token]]"}'
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>


    <app-header-layout>

      <app-header effects="resize-title" condenses fixed shadow slot="header">

        <app-toolbar class="top-toolbar">
          <slot name="drawer-toggle"></slot>
          <div condensed-title></div>
        </app-toolbar>

        <app-toolbar class="bottom-toolbar">
          <div main-title></div>
        </app-toolbar>

      </app-header>

      <div  class="card">
        <paper-input-container>
          <label slot="input">Destino</label>
          <iron-input  allowed-pattern="[A-Za-z]" auto-validate  slot="input" bind-value="{{destino}}">
            <input id="costos" pattern="\w+"  required autocomplete="on"   list="lugar" name="lugar" autofocus value="" placeholder="Destino" />
              <datalist       id="lugar">
                <dom-repeat items="{{lugar}}">
                  <template>
                    <option  value="{{item.alpha2Code}}"> {{item.translations.es}}</option>
                  </template>
                </dom-repeat>
              </datalist>
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Costo</label>
          <iron-input auto-validate  slot="input" bind-value="{{costo}}">
            <input required  id="costo" min="100" type="number" value="" placeholder="Costo" />
          </iron-input>
        </paper-input-container>

        <div class="button">
          <paper-icon-button on-click="agregarDestino"  icon="app:add"></paper-icon-button>agregar
        </div>


      </div>
    </app-header-layout>


  </template>

  <script>

    class AgregarViaje extends Polymer.Element {
      static get is() { return 'agregar-viaje'; }
      static get properties(){
        return{
          destino: String,
          costo: Number,
          imagen:String,
          lugar:
          {type: Array,
            value: null
          },
          movData: {
            type: Object,
            value: {}
          }
      }
    }
      agregarDestino(){
        if(this.destino=='' || this.costo==''){
          alert('Agrega un destino y costo')
        }else {
          //this.agregado=true;
          //console.log(this.destino+" "+this.costo);
          this.postDestino();
          Polymer.dom(this.root).querySelector("#costo").innerHTML ='';
          Polymer.dom(this.root).querySelector("#costos").innerHTML ='';
          this.destino='';
          this.costo='';
        }
      }

      handleApiResponse(event){
        var response = event.detail.xhr.response;
        //console.log("respnse"+JSON.stringify(response))
        //console.log(event)
        if (response) {
          this.lugar = response;
        }
      }

      handleUserResponse(event) {
        var responsePOST = event.detail.__data.xhr.response;
        //console.log("respnse"+JSON.stringify(responsePOST))
        //console.log(event)
        if (responsePOST) {
          alert(responsePOST.message)
          window.location.reload();
          this.error = '';
        }
      }

      handleUserError(error) {
        //console.log(event.detail.request.response.error);
        //this.error=(event.detail.request.status=="404")? event.detail.request.response.error:event.detail.error.message;
        this.error="Hubo un error en consulta de movimientos";
      }

      _setReqBody() {
        this.movData={
          destino: this.destino.toLowerCase(),
          costo: this.costo,
          imagen: "https://flagpedia.net/data/flags/w580/"+this.destino.toLowerCase()+".png"
        };
        this.$.agregarDestinos.body = this.movData;
      }

      postDestino() {
        this._setReqBody();
        this.$.agregarDestinos.generateRequest();
      }

    }

    window.customElements.define(AgregarViaje.is, AgregarViaje);
  </script>
</dom-module>
