
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">


<link rel="lazy-import" href="agregar-viaje.html">
<link rel="lazy-import" href="not-found.html">
<link rel="lazy-import" href="register-login.html">
<link rel="lazy-import" href="ver-movimientos.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #fff;
        --app-secondary-color: #14549c;
        font-family: Raleway, sans-serif;
        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: var(--app-secondary-color);
        font-weight: bold;
      }
      .avatar-container {
        position: relative;
        border: 2px solid var(--app-secondary-color);
        border-radius: 50%;
        height: 90px;
        padding: 2px;
        width: 90px;
        margin: 20px auto;
      }
      .avatar-container .image {
        background-image: url('https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png');
        background-size: contain;
        border-radius: 50%;
        height: 100%;
        width: 100%;
      }

      .contact-info {
      margin: 0 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #CCC;
      text-align: center;
    }
    .contact-info .name {
      font-weight: bold;
      color: var(--app-secondary-color);
    }
    .contact-info .email {
      color: #999;
    }
    paper-item {
      height: 54px;
    }
    paper-item > a {
      width: 100%;
      height: 100%;
      line-height: 54px;
      text-align: center;
      text-decoration: none;
      color: black;
    }
    paper-icon-button {
      --paper-icon-button-ink-color: white;
    }
    </style>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>


    <app-drawer-layout responsive-width="1280px">
      <app-drawer id="drawer" swipe-open slot="drawer">
        <app-header-layout has-scrolling-region>

          <app-header fixed slot="header">
              <div class="avatar-container">
                <div class="image"></div>
              </div>
              <div class="contact-info">
                <div id="user" class="name">[[storedUser.email]]</div>
                <div class="email">Bienvenido</div>
              </div>
          </app-header>

        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="register-login" href="[[rootPath]]register-login">[[mensaje]]</a>
          <a name="agregar-viaje" href="[[rootPath]]agregar-viaje">Añadir un viaje</a>
          <a name="ver-movimientos" href="[[rootPath]]ver-movimientos">Viajes</a>
        </iron-selector>

      </app-header-layout>

      </app-drawer>
      <iron-pages
          selected="[[page]]"
          attr-for-selected="name"
          fallback-selection="view404"
          role="main">
        <register-login name="register-login"></register-login>
        <agregar-viaje name="agregar-viaje"></agregar-viaje>
        <ver-movimientos name="ver-movimientos"></ver-movimientos>
        <not-found name="not-found"></not-found>
      </iron-pages>

    </app-drawer-layout>
  </template>

  <script>
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          rootPath: String,
          storedUser: Object,
          mensaje: {type:String, value:"Ingresar"}
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'agregar-viaje';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        var mess=Polymer.dom(this.root).querySelector("#user").innerText
        if(mess!="")
          this.mensaje="Salir"
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl( page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'not-found';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
