
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="log-out.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

Access-Control-Allow-Origin: *

<dom-module id="register-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>


    <iron-ajax
      id="registerLoginAjax"
      url="http://localhost:3002/v2/Login"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonP'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>

    <iron-ajax
      id="registerSignUp"
      url="http://localhost:3002/v2/SignUp"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonP'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="handleSignUp"
      on-error="handleSignUpError">
    </iron-ajax>

    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1><strong>Practitioner</strong></h1>
        <p><strong>Ingresa</strong> para  ver tus viajes!</p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container>
          <label slot="input">Email</label>
          <iron-input  allowed-pattern="[A-Za-z@\.]" auto-validate  slot="input" bind-value="{{email}}">
            <input required pattern="(\w+.?\w+)@bbva\.com"  id="email" autofocus type="email" value="" placeholder="ejemplo@bbva.com" />
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label>Password</label>
          <iron-input slot="input"  bind-value="{{password}}">
            <input  required id="password" type="password" value="" placeholder="Password" />
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button    raised  class="primary" on-click="postLogin">Log In</paper-button>
          <paper-button class="link" on-tap="verificarEmail">Sign Up</paper-button>
        </div>
      </div>
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Bienvenido, [[storedUser.email]]!</h2>
        <p>Has iniciado sesión <a href="[[rootPath]]ver-movimientos">Ver tus viajes</a>!</p>
        <log-out stored-user=""></log-out>
      </div>
    </div>
  </template>


  <script>
    class RegisterLogin extends Polymer.Element {
      static get is() { return 'register-login'; }

      static get properties() {
        return {
          email: String,
          password: String,
          formData: {
            type: Object,
            value: {}
          },
          storedUser: Object,
          error: String
        }
      }

      _setReqBody() {
        this.formData={
          email: this.email,
          password: this.password
          };
        this.$.registerLoginAjax.body = this.formData;
      }

      postLogin() {
        this._setReqBody();
        this.$.registerLoginAjax.generateRequest();

      }

      handleUserResponse(event) {
        var response =event.detail.response;
        //console.log(response)
        if (response.token) {
          this.error = '';
          this.storedUser = {
            email: this.email,
            id_token: response.token,
            access_token: response.access_token,
            loggedin: true
          };
        }
        if (response.token) {
          this.set('route.path', '/ver-movimientos');
        }
        // reset form data
        this.formData = {};
      }

      handleUserError(error) {
        this.error="Los datos ingresados son incorrectos/El usuario no existe, registrese";
      }

      verificarEmail(){
        var varRegex =new RegExp('\\w+s@bbva\.com');
        if (/^\w+([\.-]?\w+)*@bbva([\.])(com)$/.test(this.email)) {
          this.postRegister();
        }else{
          alert("ingresa una dirección válida")
        }
      }

      setReqBody() {

        this.formData={
          email: this.email,
          password: this.password
          };
      }
      postRegister() {
        this.setReqBody();
        //console.log(this.formData.email +"mail "+this.formData.password)
        if(this.formData.email=='' || this.formData.password=='' ){
          alert("Escribe email y contraseña")
        }else{
        this.$.registerSignUp.body = this.formData;
        this.$.registerSignUp.generateRequest();
      }
      }
      handleSignUp(event) {
        var response =event.detail.response;
        //console.log("msg "+response.msg)
        //console.log("error "+response.error)
        if (response.msg) {
          alert(response.msg)
          this.error = '';
        }else if (response.error) {
          this.error = response.error;
        }
        this.formData = {};
      }

      handleSignUpError(error) {
        this.error="No se pudo registrar, intente mas tarde";
      }

    }


    window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>

</dom-module>
