<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<dom-module id="ver-movimientos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      app-header {
        color: #fff;
        background-color: #00AA8D;
      }
      app-toolbar {
        height: 120px;
      }
      [condensed-title] {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('https://image.flaticon.com/icons/svg/201/201623.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 90px;
        /* The difference in font size is used to calculate the scale of the title in the transition. */
        font-size: 16px;
      }
      [main-title] {
        position: absolute;
        top: -120px;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('https://image.flaticon.com/icons/svg/201/201623.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 240px;
        -webkit-transform-origin: center top !important;
        transform-origin: center top !important;
        /* The difference in font size is used to calculate the scale of the title in the transition. */
        font-size: 32px;
      }
      .content {
        display: block;
        position: relative;
        max-width: 1000px;
        margin: 5px auto;
      }
      .card-container {
        display: inline-block;
        width: 33.33%;
        color: black;
        text-decoration: none;
      }
      paper-card {
        display: block;
        margin: 5px;
        --paper-card-header-image: {
          height: 200px;
        }
      }
      paper-card h2 {
        margin: 4px;
        font-weight: normal;
      }
      paper-card p {
        margin: 4px;
        color: #999;
      }
  @media (max-width: 960px) {
    .content {
      max-width: 800px;
    }
    .card-container {
      width: 50%;
    }
  }
  @media (max-width: 719px) {
    app-toolbar {
      height: 60px;
    }
  }
    [condensed-title] {
      background-image: url('https://image.flaticon.com/icons/svg/201/201623.svg');
      background-size: 60px;
    }
    [main-title] {
      top: -60px;
      background-color: url('https://image.flaticon.com/icons/svg/201/201623.svg');
      background-size: 90px;
    }
    .content {
      max-width: 400px;
    }
    .card-container {
      width: 100%;
    }

    </style>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>


    <iron-ajax
      id="traerMovimientos"
      auto url="http://localhost:3002/v2/Movimientos/[[storedUser.email]]"
      method="GET"
      crossDomain:true
      headers$='{"access-token": "[[storedUser.id_token]]"}'
      on-response="handleUserResponse">
    </iron-ajax>

    <app-header-layout>

      <app-header effects="resize-title" condenses fixed shadow slot="header">

        <app-toolbar class="top-toolbar">
          <slot name="drawer-toggle"></slot>
          <div condensed-title></div>
        </app-toolbar>

        <app-toolbar class="bottom-toolbar">
          <div main-title></div>
        </app-toolbar>

      </app-header>

      <div  class="content">

       <template   is="dom-repeat" items="{{destino}}">
          <a href="http://country.io/{{item.country}}"  class="card-container">
            <paper-card hidden$="[[destino.valid]]" image="{{item.image}}">
              <div class="card-content">
                 <h2>{{item.country}}</h2>
                 <p>Costo <span>{{item.cost}}</span>$</p>
              </div>
            </paper-card>
          </a>
        </template>

     </div>


    </app-header-layout>

  </template>

  <script>
    class VerMovimientos extends Polymer.Element {
      static get is() { return 'ver-movimientos'; }

      static get properties() {
        return{
          destino: {type: Object, observer: '__destinoChanged'},
          __favorite: {type: Boolean, value: false},
          error: String,
        }
      }


      __destinoChanged(destino) {
        if (destino) {
          this.style.backgroundImage = 'url(' + destino.imageUrl + ')';
          if(destino.mensaje)
            destino.valid=true;
        }
      }

      handleUserResponse(event) {
        var response = event.detail.__data.xhr.response;
        //console.log("respnse"+JSON.stringify(response))
        //console.log(event)
        if (response) {
          this.error = '';
          this.destino = response;
        }
      }

      handleUserError(error) {
        //console.log(event.detail.request.response.error);
        //this.error=(event.detail.request.status=="404")? event.detail.request.response.error:event.detail.error.message;
        this.error="Hubo un error en consulta de movimientos";
      }

    } //cierra class

    window.customElements.define(VerMovimientos.is, VerMovimientos);
  </script>
</dom-module>
